<p id="notice"><%= notice %></p>

<strong>Event owner:</strong>
<%= @event.owner.email %>
<%= render 'event', event: @event  %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
